.popup__close {
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  position: absolute;
  background: url(../../../images/close_icon.svg);
  background-position: 50%;
  background-color: #000;
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  border: none;
}

.popup__close:hover {
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}