.elements {
  margin: 51px auto 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  justify-items: center;
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width: 966px) {
  .elements{
    margin-top: 36px;
    column-gap: 19px;
  }
}
