.popup__container {
  box-sizing: border-box;
  position: relative;
  width: 430px;  
  background: #FFFFFF;
  padding-top: 34px;
  padding-left: 36px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .popup__container {
    max-width: 282px;    
    padding-left: 22px;
    padding-top: 22px;
    box-sizing: border-box;
  }
}