@import url(./vendor/normalize.css);

@import url(./vendor/fonts/fonts.css);

@import url(./blocks/body/body.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__border/header__border.css);

@import url(./blocks/avatar-input/avatar-input.css);

@import url(./blocks/profile/profile.css);

@import url(./blocks/profile/__change-image-btn/profile__change-image-btn.css);
@import url(./blocks/profile/__name-and-button/profile__name-and-button.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__add-new/profile__add-new.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__who-is-this/profile__who-is-this.css);

@import url(./blocks/elements/elements.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__trash/element__trash.css);
@import url(./blocks/element/__title-and-like/__title-and-like.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like-and-counter/element__like-and-counter.css);
@import url(./blocks/element/__like/_active/element__like_active.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form-about/popup__form-about.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input/_log/popup__input_log.css);
@import url(./blocks/popup/__container/_log/popup__contaner_log.css);

@import url(./blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_confirmation/popup__title_confirmation.css);

@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__error/_visible.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);

@import url(./blocks/popup-card-image/popup-card-image.css);
@import url(./blocks/popup-card-image/__figure/popup-card-image__figure.css);
@import url(./blocks/popup-card-image/__photo/popup-card-image__photo.css);
@import url(./blocks/popup-card-image/__figcaption/popup-card-image__figcaption.css);
@import url(./blocks/popup-card-image/_close/popup-card-image_close.css);
@import url(./blocks/registred/registred.css);
@import url(./blocks/registred/__link/registred__link.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu/_item/header__menu_item.css);
@import url(./blocks/popup/__title/_log/popup__title_log.css);
@import url(./blocks/popup/__save/_log/popup__save_log.css);

@import url(./blocks/popup/__success-img/popup__success-img.css);
@import url(./blocks/popup/__success-img/_ok/popup__success-img_ok.css);
@import url(./blocks/popup/__success-img/_fail/popup__success-img_fail.css);
@import url(./blocks/popup/__container/_white/popup__container_white.css);
@import url(./blocks/popup/__title/_white/popup__title_white.css);
@import url(./blocks/header/__menu/_item-gray/header__menu_item-gray.css);



