.header {
  height: 74px;
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 1050px) {
  .header {
    height: 56px;
    margin-top: 28px;
    padding-left: 27px;
  }
}
